.paginator table {
  margin: 0;
}
.paginator table tbody {
  border: none;
}
.paginator table tr td {
  border: 0;
}
.paginator table tr {
  background: none;
}
.paginator .scroll_knob, .paginator .scroll_thumb {
  cursor: pointer !important;
}
